

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-518249787502363723.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-518249787502363723.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-518249787502363723.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-518249787502363723.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-518249787502363723.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-518249787502363723.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-518249787502363723.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-518249787502363723.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-518249787502363723.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-518249787502363723.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-518249787502363723.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-518249787502363723.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-518249787502363723.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-518249787502363723.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-518249787502363723.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-518249787502363723.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-518249787502363723.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-518249787502363723.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-518249787502363723.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-518249787502363723.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-518249787502363723.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-518249787502363723.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-518249787502363723.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-518249787502363723.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-518249787502363723.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-518249787502363723.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-518249787502363723.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-518249787502363723.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-518249787502363723.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-518249787502363723.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-518249787502363723.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-518249787502363723.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-518249787502363723.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-518249787502363723.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-518249787502363723.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-518249787502363723.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-518249787502363723.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-518249787502363723.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-518249787502363723.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-518249787502363723.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-518249787502363723.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-518249787502363723.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-518249787502363723.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-518249787502363723.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-518249787502363723.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-518249787502363723 .gp-relative{position:relative}.gps-518249787502363723 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-518249787502363723 .gp-mb-0{margin-bottom:0}.gps-518249787502363723 .gp-flex{display:flex}.gps-518249787502363723 .gp-grid{display:grid}.gps-518249787502363723 .\!gp-hidden{display:none!important}.gps-518249787502363723 .gp-hidden{display:none}.gps-518249787502363723 .gp-max-w-full{max-width:100%}.gps-518249787502363723 .gp-flex-col{flex-direction:column}.gps-518249787502363723 .gp-gap-y-0{row-gap:0}.gps-518249787502363723 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-518249787502363723 .gp-duration-200{transition-duration:.2s}.gps-518249787502363723 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-518249787502363723 .tablet\:\!gp-hidden{display:none!important}.gps-518249787502363723 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-518249787502363723 .mobile\:\!gp-hidden{display:none!important}.gps-518249787502363723 .mobile\:gp-hidden{display:none}}.gps-518249787502363723 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-518249787502363723 .\[\&_p\]\:gp-inline p{display:inline}.gps-518249787502363723 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-518249787502363723 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gx7zONG-8P"
        style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gx7zONG-8P gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3aktdQswr gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gEmt222u7J"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEmt222u7J gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJFlotpTE2 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gRpBakNWPz"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:30px;--cg:8px;--pc:start;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:1300px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRpBakNWPz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRoQYTMd4H gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gWYj2pknRb "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Golden-Plains---Demo, 'Golden Plains - Demo'), var(--g-font-heading, heading);--weight:400;--size:52px;--size-tablet:52px;--size-mobile:46px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#F39A8B;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggWYj2pknRb_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g09asBOnoN "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--size:32px;--size-tablet:32px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg09asBOnoN_text }}</h2>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gvmUlDLNsJ gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g85RlscNJv"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g85RlscNJv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSe8VNpety gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gKO31S6sRX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKO31S6sRX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gvI471lvXQ gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gfMkrbKcSa gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPHw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-518249787502363723 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/perfectpariswedding/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=518167163807204232&sectionId=518249787502363723)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggWYj2pknRb_text","label":"ggWYj2pknRb_text","default":"Your Package Details"},{"type":"html","id":"gg09asBOnoN_text","label":"gg09asBOnoN_text","default":"Explore exactly what’s included in your Paris wedding day package:"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
